nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

nav button {
    font-size: medium;
    color: blue;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: lightpink;
}