* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: black;
    color: white;
}

img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20%;
    float: left;
}

.centered {
    position: absolute;
    top: 50%;
    left: 20%;
}

main {
    align-items: start;
    justify-content: space-between;
    padding: 20px;
}

#input-box {
    align-items: start;
    flex-direction: column;
    display: flex;
    margin-left: 20px;
    flex: 0 0 auto;
}

